/* Importa as fontes Inter, Poppins e Roboto do Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Marhey:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #faf4e8;
}

/* Estilos nav*/
nav {
  background-color: #f9feff;
  padding: 10px 10px 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  font-size: 1rem;
}

nav a {
  margin-right: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* Garante que o contêiner do logo tenha apenas 50 pixels de largura */
nav img {
  width: 50px;
  display: inline-block;
  border-radius: 50px;
}

a {
  text-decoration: none;
  color: black;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 30px;
}
/*Fim dos estilos nav*/

/*Inicio titulos e textos*/

.titulos {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  height: 100vh;
}

.textos {
  flex: 1;
  background-color: #faf4e8;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titulos .textos h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #000;
  font-size: 3.5rem;
  margin-bottom: 20px;
  line-height: 1.2;
}

.tamp {
  font-family: "poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3rem;
  margin-bottom: 20px;
  color: #fff;
  background-color: #f16c29;
  border-radius: 50px;
  padding: 0 20px;
}

.titulos .textos p {
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  line-height: 1.6;
  color: #000;
  margin-bottom: 40px;
}

.titulos {
  margin-left: 10px;
}

/*lado direito botão e imagem*/

.botao-imagem .botao {
  font-family: "Marhey", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2rem;
  color: #febd59;
}

.textos,
.botao-imagem {
  flex: 1;
}

.botao-imagem {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cachorro-land {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.botao {
  position: absolute;
  top: 15%;
  background-color: #fff;
  color: #f16c29;
  font-family: "Marhey", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  border: none;
  border-radius: 50px;
  padding: 15px 40px;
  z-index: 2;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.contorno-botao {
  position: absolute;
  top: 13%;
  height: 95px;
  padding: 11px;
  z-index: 2;
}

/*Inicio seu gesto vira cuidado*/

.texto2 h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-align: center;
  color: #f16c29;
}

.texto2 p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.25rem;
  line-height: 1.5;
  color: #b74426;
  margin-bottom: 40px;
  text-align: center;
}

.menu-lista ul {
  display: flex;
  width: 90%;
  margin: 0 auto;
  list-style: none;
  justify-content: space-around;
}

.menu-lista {
  background-color: #f9feff;
  border-radius: 50px;
  padding: 60px;
  width: 80%;
  max-width: 1000px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
form input {
  display: block;
}
form button {
  display: block;
}
